@page
@model ControleDeEstoque.Pages.ErroID.ErroIDModel
@{
}

<div class="card">
    <div class="card-header">
        <h5 class="d-flex justify-content-center">Ocorreu um erro</h5>
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="d-flex justify-content-center"> Verifique o código do produto e tente novamente</p>
    </div>
</div>